In [98]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os
import json
import re
pd.options.display.float_format = "{:.2f}".format
import warnings
warnings.filterwarnings("ignore")

idades ={"Idade": ['4','10', '20', '21', '26', '35', '48', '45', '49', '15', '11', '18', '17', '5', '2', '14', '88', '79', '55', '64', '47', '49']}
df=pd.DataFrame(idades)
df

   Idade
0      4
1     10
2     20
3     21
4     26
5     35
6     48
7     45
8     49
9     15
10    11
11    18
12    17
13     5
14     2
15    14
16    88
17    79
18    55
19    64
20    47
21    49

In [99]:
df['Idade'] = df['Idade'].astype(int)

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 1 columns):
Idade    22 non-null int32
dtypes: int32(1)
memory usage: 168.0 bytes

In [101]:
 
maior = max(df["Idade"])
menor = min(df["Idade"])
amplitude = maior-menor

print("Média: {:0.2f}".format(df['Idade'].mean()))
print('Mediana: {:0.2f}'.format(df['Idade'].median()))
print("Desvio padrão: {:0.2f}".format(df['Idade'].std()))
print('Variância: {:0.2F}'.format(df['Idade'].var()))
print('Moda: {:0.2f}'.format(df['Idade'].mode().values[0]))
print('Amplitude: {:0.2f}'.format(amplitude))

Média: 32.82
Mediana: 23.50
Desvio padrão: 24.68
Variância: 609.20
Moda: 49.00
Amplitude: 86.00

In [102]:
vendas = pd.read_csv("vendas.csv", sep=",")
vendas

   mes_ano valor_venda_mensal
0   jan/20   R$ 11.007.043,23
1   fev/20   R$ 10.931.711,78
2   mar/20   R$ 14.285.160,14
3   abr/20   R$ 13.858.179,77
4   mai/20   R$ 14.097.146,98
5   jun/20   R$ 15.114.495,86
6   jul/20   R$ 14.359.248,57
7   ago/20   R$ 15.094.411,39
8   set/20   R$ 16.055.703,02
9   out/20   R$ 15.990.863,10
10  nov/20   R$ 16.137.095,80
11  dez/20   R$ 18.409.089,37

In [103]:
def clean_prices(value):
    price_pattern = r'([\d,.]+)'
    if value is None:        
        return None
    else:
        value_extracted = re.findall(price_pattern, value)[0]
        value_floated = value_extracted.replace('.','').replace(',','.')
        return value_floated

In [104]:
vendas['valor_venda_mensal'] = vendas['valor_venda_mensal'].apply(lambda x: clean_prices(x))

In [105]:
vendas['valor_venda_mensal'] = vendas['valor_venda_mensal'].astype(float)

In [120]:
vendas['mes_ano'] = pd.to_datetime(vendas['mes_ano'], errors = 'raise', format='%b-%y-%

ValueError: 'u' is a bad directive in format '%b-%y-%u'