In [24]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np


idades ={"Idade": ['4','10', '20', '21', '26', '35', '48', '45', '49', '15', '11', '18', '17', '5', '2', '14', '88', '79', '55', '64', '47', '49']}
df=pd.DataFrame(idades)
df

   Idade
0      4
1     10
2     20
3     21
4     26
5     35
6     48
7     45
8     49
9     15
10    11
11    18
12    17
13     5
14     2
15    14
16    88
17    79
18    55
19    64
20    47
21    49

In [45]:
df['Idade'] = df['Idade'].astype(int)

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Idade   22 non-null     int32
dtypes: int32(1)
memory usage: 152.0 bytes

In [27]:
 
maior = max(df["Idade"])
menor = min(df["Idade"])
amplitude = maior-menor

print("Média: {:0.2f}".format(df['Idade'].mean()))
print('Mediana: {:0.2f}'.format(df['Idade'].median()))
print("Desvio padrão: {:0.2f}".format(df['Idade'].std()))
print('Variância: {:0.2F}'.format(df['Idade'].var()))
print('Moda: {:0.2f}'.format(df['Idade'].mode().values[0]))
print('Amplitude: {:0.2f}'.format(amplitude))

Média: 32.82
Mediana: 23.50
Desvio padrão: 24.68
Variância: 609.20
Moda: 49.00
Amplitude: 86.00

In [47]:
vendas = pd.read_csv("vendas.csv", sep=",")
vendas

    MES_ANO  VALOR_VENDA_MENSAL
0   01/01/20    R$ 11.007.043.23
1   01/02/20    R$ 10.931.711.78
2   01/03/20    R$ 14.825.160.14
3   01/04/20    R$ 13.858.179.77
4   01/05/20    R$ 14.097.146.98
5   01/06/20    R$ 15.114.495.86
6   01/07/20    R$ 14.359.248.57
7   01/08/20    R$ 15.094.411.39
8   01/09/20    R$ 16.055.703.02
9   01/10/20    R$ 15.990.863.10
10  01/11/20    R$ 16.137.095.80
11  01/12/20    R$ 18.409.089.37

In [29]:
vendas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   MES_ANO              12 non-null     object
 1   VALOR_VENDA_MENSAL   12 non-null     object
dtypes: object(2)
memory usage: 160.0+ bytes

In [32]:
vendas.describe()

        MES_ANO  VALOR_VENDA_MENSAL
count         12                  12
unique        12                  12
top     01/02/20    R$ 13.858.179.77
freq           1                   1

In [52]:
def clean_prices(value):
    vendas = r'([\d,.]+)'
    if value is None:        
        return None
    else:
        value_extracted = re.findall(vendas, value)[0]
        value_floated = vendas.replace('.','').replace(',','.')
        return value_floated

In [53]:
vendas['VALOR_VENDA_MENSAL'] = vendas['VALOR_VENDA_MENSAL'].apply(lambda x: clean_prices(x))

KeyError: 'VALOR_VENDA_MENSAL'