In [114]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np


idades ={"Idade": ['4','10', '20', '21', '26', '35', '48', '45', '49', '15', '11', '18', '17', '5', '2', '14', '88', '79', '55', '64', '47', '49']}
df=pd.DataFrame(idades)
df

   Idade
0      4
1     10
2     20
3     21
4     26
5     35
6     48
7     45
8     49
9     15
10    11
11    18
12    17
13     5
14     2
15    14
16    88
17    79
18    55
19    64
20    47
21    49

In [115]:
#dados['idade'] = dados.to_numeric(dados['idades'], errors='coerce')
df['Idade']=df['Idade'].astype(int)

In [116]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 1 columns):
Idade    22 non-null int32
dtypes: int32(1)
memory usage: 168.0 bytes

In [121]:
print("Média: {:0.2f}".format(df['Idade'].mean()))
print('Mediana: {:0.2f}'.format(df['Idade'].median()))
print("Desvio padrão: {:0.2f}".format(df['Idade'].std()))
print('Variância: {:0.2F}'.format(df['Idade'].var()))
print('Moda: {:0.2f}'.format(df['Idade'].mode().values[0]))

Média: 32.82
Mediana: 23.50
Desvio padrão: 24.68
Variância: 609.20
Moda: 49.00